{% extends "common/layout_main.html" %}
{% block content %}
<div class="row  border-bottom">
    <div class="col-lg-12">
        <div class="tab_title">
            <ul class="nav nav-pills">
                <li class="current">
                    <a href="{{ buildUrl('/books_lib/index') }}">图书列表</a>
                </li>
            </ul>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-lg-12">
        <form class="form-inline wrap_search">
            <div class="row  m-t p-w-m">
                <div class="form-group">
                    <select name="status" class="form-control inline">
                        <option value="-1">状态</option>
                        {% for tmp_key in status_mapping %}
                        <option value="{{tmp_key}}"{% if tmp_key == search_con['status']  %} selected {% endif %}>{{status_mapping[tmp_key]}}</option>
                        {% endfor %}
                    </select>
                </div>
                <div class="form-group">
                    <select name="cat" class="form-control inline">
                        <option value="-1">分类</option>
                        {% for tmp_key in book_types %}
                        <option value="{{tmp_key}}"{% if tmp_key == search_con['cat']  %} selected {% endif %}>{{book_types[tmp_key]}}</option>
                        {% endfor %}
                    </select>
                </div>
                <div class="form-group">
                    <select name="location" class="form-control inline">
                        <option value="-1">地点</option>
                        {% for tmp_key in lib_location %}
                        <option value="{{tmp_key}}"{% if tmp_key == search_con['location']  %} selected {% endif %}>{{lib_location[tmp_key]}}</option>
                        {% endfor %}
                    </select>
                </div>
                <!--
                <div class="form-group">
                    <select name="cat_id" class="form-control inline">
                        <option value="0">请选择分类</option>
                        <option value="1">111</option>
                    </select>
                </div>
                -->
                <div class="form-group">
                    <div class="input-group">
                        <input type="text" name="mix_kw" placeholder="请输入书籍名称或作者" class="form-control" value="{{ search_con['mix_kw'] }}">
                        <input type="hidden" name="p" value="{{ search_con['p'] }}">
                        <span class="input-group-btn">
                            <button type="button" class="btn  btn-primary search">
                                <i class="fa fa-search"></i>搜索
                            </button>
                        </span>
                    </div>
                </div>
            </div>
            <hr>
            <div class="row">
                <div class="col-lg-12">
                    <a class="btn btn-w-m btn-outline btn-primary pull-right" href="{{ buildUrl('/books_lib/new_set') }}">
                        <i class="fa fa-plus"></i>书籍
                    </a>
                </div>
            </div>

        </form>
        <table class="table table-bordered m-t">
            <thead>
            <tr>
                <th>书籍名称</th>
                <th>书籍分类</th>
                <th>放置地点</th>
                <th>当前在馆数量</th>
                <th>操作</th>
            </tr>
            </thead>
            <tbody>
            {% if list %}
                {% for item in list %}
            <tr>
                <td>{{item.title}}</td>
                <td>{{item.book_type}}</td>
                <td>{{item.location}}</td>
                <td>{{item.current_amount}}</td>
                <td>
                    <a href="{{ buildUrl('/books_lib/info') }}?id={{item.id}}">
                        <i class="fa fa-eye fa-lg"></i>
                    </a>
                    {%  if item.status == 1 %}
                    <a class="m-l remove" href="javascript:void(0);" data="{{ item.id  }}">
                        <i class="fa fa-trash fa-lg"></i>
                    </a>
                    {% else %}
                       <a class="m-l recover" href="javascript:void(0);" data="{{ item.id  }}">
                        <i class="fa fa-rotate-left fa-lg"></i>
                    </a>
                    {% endif %}
                </td>
            </tr>
                {% endfor %}
            {% else %}
                <tr><td colspan="5">暂无数据~~</td></tr>
            {% endif %}
            </tbody>
        </table>

        <!--分页代码已被封装到统一模板文件中-->
      {% include 'common/pagenation.html' %}
    </div>
</div>
{% endblock %}
{% block js %}
<script src="{{ buildStaticUrl('/js/books_lib/index.js') }}"></script>
{% endblock %}